.row{
    display:flex;
    flex-wrap: wrap;
}

.column{
    display:flex;
    flex-wrap: wrap;
    width:25%;
}

.column img{
    width:100%;
    margin: 5px;;
}

@media screen and (max-width: 800px){
    .column{
        width:25%;
    }
}

@media screen and (max-width: 800px){
    .column{
        width:50%;
    }

}

@media screen and (max-width: 600px){
    .column{
        width:100%;
    }
    
}